body{
    background-color: black;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}
.sidebar-navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    padding-top: 20px;
}

.sidebar-navigation .logo{
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar-navigation .logo img{
    width: 80px;
    margin-bottom: 20px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;

}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.HjPqU_UW2egr14mRSom9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 16px 8px;
}

.tAfozCQs48q1JYdphYXi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.FTiXRW7kAldHmLaxVQ2N {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 0;
    margin-inline-end: auto;
}

button{
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    margin: 0em;

}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}